@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file (e.g., src/index.css or src/App.css) */

html {
  scroll-padding-top: 6rem; 

  /* Optional: Smooths the transition when clicking the link */
  scroll-behavior: smooth;
}